.container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}

.url-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .url-form-row {
 
    .url-list-wrapper {
      height: 50vh;
      width: 400px;
      background-color: lightgray;
      padding: 10px;
      overflow: auto;
      margin-top: 20px;
    }
  }


}